.page {
  @apply relative;
}

.textLayer {
  z-index: 2;
  @apply mix-blend-multiply opacity-100;
}

.textLayer ::selection {
  @apply bg-yellow-400;
}

.pdfViewerContainer.pdfViewerContainerDark .page canvas {
  filter: grayscale(0%) invert(100%) contrast(100%) brightness(100%) hue-rotate(180deg);
}

.annotationLayer section {
  z-index: 3;
}

/* .annotationLayer {
  position: absolute;
  top: 0;

  z-index: 3;
}

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  .textLayer {opacity: 0.5;}
}
