.loader {
  border-top-color: #3498db;
  -webkit-animation: spinner 1.0s linear infinite;
  animation: spinner 1.0s linear infinite;
}

@-webkit-keyframes spinner {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spinner {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

@media (min-width: 640px) {
 .md\:card-normal [class~=card-body] {
    padding: var(--padding-card, 2rem);
    font-size: 1rem;
    line-height: 1.5rem;
  }
  .md\:card-normal [class~=card-title] {
    margin-bottom: .75rem;
  }
}

/* Fixes for drawer to disable pointer events for overlay when not active */
.drawer-toggle ~ .drawer-side {
  pointer-events: none;
}

.drawer-toggle:checked~.drawer-side {
  pointer-events: all;
}

@screen lg {
  .drawer-toggle ~ .drawer-side {
    pointer-events: all;
  }

  .drawer-toggle ~ .drawer-side {
    display: none;
  }
  .drawer-toggle:checked~.drawer-side {
    display: block;
  }
}
